### Convert "My_Uber_Drives_(final_file).csv" from Mark's branch and save locally as an .josn file (in case needed in the future)

In [4]:
import pandas as pd

In [5]:
read_file = pd.read_csv("https://raw.githubusercontent.com/markpalkovskyi/Final_project/markp_final_analysis/My_Uber_Drives_(final_file).csv")

In [6]:
read_file

,START_DATE,END_DATE,CATEGORY,START,STOP,MILES,PURPOSE,SALARY,MONTH,DAY_OF_THE_WEEK,DURATION,money_regex
0,1/2/16 20:25,1/2/16 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies,$10.32,Jan,Sat,0 days 00:13:00,10.32
1,1/5/16 17:31,1/5/16 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting,$10.11,Jan,Tues,0 days 00:14:00,10.11
2,1/6/16 14:42,1/6/16 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit,$136.96,Jan,Wed,0 days 01:07:00,136.96
3,1/6/16 17:15,1/6/16 17:19,Business,West Palm Beach,West Palm Beach,4.3,Meal/Entertain,$9.25,Jan,Wed,0 days 00:04:00,9.25
4,1/6/16 17:30,1/6/16 17:35,Business,West Palm Beach,Palm Beach,7.1,Meeting,$15.27,Jan,Wed,0 days 00:05:00,15.27
...,...,...,...,...,...,...,...,...,...,...,...,...
566,12/30/16 16:45,12/30/16 17:08,Business,Karchi,Karchi,4.6,Meeting,$9.89,Dec,Fri,0 days 00:23:00,9.89
567,12/30/16 23:06,12/30/16 23:10,Business,Karchi,Karchi,0.8,Customer Visit,$1.72,Dec,Fri,0 days 00:04:00,1.72
568,12/31/16 1:07,12/31/16 1:14,Business,Karchi,Karchi,0.7,Meeting,$1.51,Dec,Sat,0 days 00:07:00,1.51
569,12/31/16 21:32,12/31/16 21:50,Business,Katunayake,Gampaha,6.4,Temporary Site,$13.76,Dec,Sat,0 days 00:18:00,13.76
570,12/31/16 22:08,12/31/16 23:51,Business,Gampaha,Ilukwatta,48.2,Temporary Site,$103.63,Dec,Sat,0 days 01:43:00,103.63

In [7]:
read_file.to_json(r'C:\Users\micha\OneDrive\Documents\GitHub\Final_project\My_Uber_Drives_(final_file).json')

### ✓ File was saved as an .json file