In [1]:
import pandas as pd
import os
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import numpy as np

In [2]:
#Updated csv file where missing values in 'Purpose' column got deleted.
uber_df = pd.read_csv("Uber_trips_2016.csv", low_memory=False)
uber_df

,START_DATE,END_DATE,CATEGORY,START,STOP,MILES,PURPOSE,SALARY
0,1/2/16 20:25,1/2/16 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies,$10.32
1,1/5/16 17:31,1/5/16 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting,$10.11
2,1/6/16 14:42,1/6/16 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit,$136.96
3,1/6/16 17:15,1/6/16 17:19,Business,West Palm Beach,West Palm Beach,4.3,Meal/Entertain,$9.25
4,1/6/16 17:30,1/6/16 17:35,Business,West Palm Beach,Palm Beach,7.1,Meeting,$15.27
...,...,...,...,...,...,...,...,...
566,12/30/16 16:45,12/30/16 17:08,Business,Karchi,Karchi,4.6,Meeting,$9.89
567,12/30/16 23:06,12/30/16 23:10,Business,Karchi,Karchi,0.8,Customer Visit,$1.72
568,12/31/16 1:07,12/31/16 1:14,Business,Karchi,Karchi,0.7,Meeting,$1.51
569,12/31/16 21:32,12/31/16 21:50,Business,Katunayake,Gampaha,6.4,Temporary Site,$13.76
570,12/31/16 22:08,12/31/16 23:51,Business,Gampaha,Ilukwatta,48.2,Temporary Site,$103.63

In [ ]:
from datetime import datetime

In [ ]:
uber_df['START_DATE'] = pd.to_datetime(uber_df['START_DATE'], format = '%m/%d/%y %H:%M')
uber_df['END_DATE'] = pd.to_datetime(uber_df['END_DATE'], format = '%m/%d/%y %H:%M')

uber_df

In [3]:
uber_df['MONTH'] = uber_df['START_DATE'].apply(lambda time: time.month)
mmap = {1:'Jan', 2:'Feb',3:'Mar', 4:'Apr',5:'May',6:'June',7:'July', 8:'Aug', 9:'Sep',10:'Oct',11:'Nov',12:'Dec'}
uber_df['MONTH'] = uber_df['MONTH'].map(mmap)
uber_df['MONTH']

AttributeError: 'str' object has no attribute 'month'

In [ ]:
uber_df['DAY_OF_THE_WEEK'] = uber_df.START_DATE.dt.weekday
day_label = {
    1: 'Mon', 2: 'Tues', 3: 'Wed', 4: 'Thus', 5: 'Fri', 6: 'Sat', 7: 'Sun'
}
uber_df['DAY_OF_THE_WEEK'] = uber_df['DAY_OF_THE_WEEK'].map(day_label)
uber_df

In [ ]:
#Calculating duration of each ride
uber_df['DURATION'] = uber_df['END_DATE'] - uber_df['START_DATE']
uber_df.dtypes

In [ ]:
uber_df

In [ ]:
uber_df.info()

In [ ]:
uber_df.describe()

In [ ]:
uber_df['CATEGORY'].unique()

In [ ]:
sum(uber_df['CATEGORY']=='Business')

In [ ]:
sum(uber_df['CATEGORY']=='Personal')

In [ ]:
uber_total_count = uber_df.groupby(['CATEGORY']).sum()['MILES']
uber_total_count

In [ ]:
uber_df['MILES'].sum()

In [ ]:
uber_df.dtypes

In [ ]:
uber_df['SALARY']=pd.to_numeric(uber_df['SALARY'])
print(uber_df)

In [ ]:
uber_df['SALARY'].sum()

In [ ]:
uber_df['DURATION'].sum()

In [ ]:
uber_df['PURPOSE'].unique()

In [ ]:
uber_ride_count = uber_df.groupby(['PURPOSE']).sum()['MILES']
uber_ride_count

In [ ]:
purpose_labels = uber_df.PURPOSE.value_counts().nlargest(10)
sns.barplot(x=purpose_labels.index, y=purpose_labels);
plt.ylabel('Total Rides');
plt.xticks(rotation=90);

In [ ]:
sns.countplot(x=uber_df['CATEGORY']);

In [ ]:
sns.countplot(x=uber_df['PURPOSE']);
plt.ylabel('Total Rides');
plt.xticks(rotation=90);

In [ ]:
sns.countplot(x=uber_df['DAY_OF_THE_WEEK']);

In [ ]:
sns.countplot(x=uber_df['MONTH']);

In [ ]:
uber_df['START_DATE'] = pd.to_datetime(uber_df['START_DATE'], format = '%m/%d/%y %H:%M')
uber_df['END_DATE'] = pd.to_datetime(uber_df['END_DATE'], format = '%m/%d/%y %H:%M')

uber_df
from datetime import datetime